Repository boostcamp-2020/IssueTracker-3, pull requests merged in 2020-11, with the labels that each got.

#74 Web: module alias 적용
  BE/.eslintrc.json
  BE/package-lock.json
  BE/package.json
  BE/src/app.ts
  BE/src/index.ts
  BE/src/models/model.ts
  BE/src/models/user.ts
  BE/src/routes/auth.ts
  BE/tsconfig.json
Labels: 🌷WEEK 1, 📱APP, 🖥BE

#80 Web: milestone,label api구현
  BE/src/controllers/label.ts
  BE/src/controllers/milestone.ts
  BE/src/interfaces/label.ts
  BE/src/interfaces/milestone.ts
  BE/src/interfaces/tag.ts
  BE/src/models/assignee.ts
  BE/src/models/comment.ts
  BE/src/models/event.ts
  BE/src/models/issue.ts
  BE/src/models/label.ts
  BE/src/models/milestone.ts
  BE/src/models/model.ts
  BE/src/models/user.ts
  BE/src/routes/label.ts
  BE/src/routes/milestone.ts
Labels: 🌷WEEK 1, 🖥BE

#79 Web: github access Token , local-login access Token 추가
  .github/workflows/auto_unit_test.yml
  .github/workflows/node.js_CI.yml
  BE/README.md
  BE/depoly.sh
  BE/package-lock.json
  BE/package.json
  BE/src/controllers/auth.ts
  BE/src/providers/passport.ts
  BE/src/routes/auth.ts
  README.md
  iOS/README.md
Labels: 🌷WEEK 1, 📱APP, 🖥BE

#92 APP: IssueList/IssueDetail/NewIssue/IssueFilter View 제작
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Authentication~.storyboard
  iOS/IssueTracker/IssueTracker/Base.lproj/IssueList~.storyboard
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Base.lproj/MileStone.storyboard
  iOS/IssueTracker/IssueTracker/Base.lproj/MileStone~.storyboard
  iOS/IssueTracker/IssueTracker/CreateIssue/CreateIssueViewController.swift
  iOS/IssueTracker/IssueTracker/EditIssue/EditIssueViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/BottomSheetTest.xib
  iOS/IssueTracker/IssueTracker/IssueDetail/IssueDetailBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/Views/IssueDetailCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueFilter/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/IssueFilter/Views/HeaderView.swift
  iOS/IssueTracker/IssueTracker/IssueFilter/Views/IssueFilterTableViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/Views/DummyView.swift
  iOS/IssueTracker/IssueTracker/IssueTracker/Base.lproj/Authentication.storyboard
  iOS/IssueTracker/IssueTracker/IssueTracker/Base.lproj/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Label.storyboard
  iOS/IssueTracker/IssueTracker/Setting/SettingViewController.swift
  iOS/IssueTracker/IssueTracker/SignIn/Views/SignInWithAppleButton.swift
  iOS/IssueTracker/Label~.storyboard
  iOS/IssueTracker/Setting.storyboard
  iOS/IssueTracker/Setting~.storyboard
Labels: 🌻WEEK 2, 📱APP

#95 Web : user 및 auth api 1차 완료.
  BE/src/controllers/auth.ts
  BE/src/controllers/user.ts
  BE/src/models/user.ts
  BE/src/routes/auth.ts
Labels: 🌻WEEK 2, 🖥BE

#112 APP: code 정리
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/IssueDetail/IssueDetailBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/ToBeDeleted/BottomSheetTest.xib
  iOS/IssueTracker/IssueTracker/ViewController.swift
Labels: 🌻WEEK 2, 📱APP

#136 App: Filter 기능 구현
  iOS/IssueTracker/IssueTracker/Common/Extension/String +toDate.swift
  iOS/IssueTracker/IssueTracker/Common/Extension/UIColor+hex.swift
  iOS/IssueTracker/IssueTracker/Common/Extension/UIColor+random.swift
  iOS/IssueTracker/IssueTracker/Common/Extension/UIVIew+snapshot.swift
  iOS/IssueTracker/IssueTracker/Common/customButtonView.swift
  iOS/IssueTracker/IssueTracker/IssueFilter/Models/IssueFilterViewModel.swift
  iOS/IssueTracker/IssueTracker/Network/Models/EventElement.swift
  iOS/IssueTracker/IssueTracker/Network/Models/IssueListElement.swift
  iOS/IssueTracker/IssueTracker/Network/Models/LabelElement.swift
  iOS/IssueTracker/IssueTracker/Network/Models/MilestoneElement.swift
Labels: 🌻WEEK 2, 📱APP

#137 APP: Master Merge
  iOS/IssueTracker/IssueTracker/Common/Extension/String +toDate.swift
  iOS/IssueTracker/IssueTracker/Common/Extension/UIColor+hex.swift
  iOS/IssueTracker/IssueTracker/Common/Extension/UIColor+random.swift
  iOS/IssueTracker/IssueTracker/Common/Extension/UIVIew+snapshot.swift
  iOS/IssueTracker/IssueTracker/Common/customButtonView.swift
  iOS/IssueTracker/IssueTracker/IssueFilter/Models/IssueFilterViewModel.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Network/Models/EventElement.swift
  iOS/IssueTracker/IssueTracker/Network/Models/IssueListElement.swift
  iOS/IssueTracker/IssueTracker/Network/Models/LabelElement.swift
  iOS/IssueTracker/IssueTracker/Network/Models/MilestoneElement.swift
Labels: 🌻WEEK 2, 📱APP

#138 APP: filter 기능 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Common/CustomButtonView.swift
  iOS/IssueTracker/IssueTracker/Common/Extension/UIColor+hex.swift
  iOS/IssueTracker/IssueTracker/Common/Extension/UIColor+random.swift
  iOS/IssueTracker/IssueTracker/Common/Extension/UIVIew+snapshot.swift
  iOS/IssueTracker/IssueTracker/Common/customButtonView.swift
  iOS/IssueTracker/IssueTracker/CreateIssue/CreateIssueViewController.swift
  iOS/IssueTracker/IssueTracker/Info.plist
  iOS/IssueTracker/IssueTracker/IssueFilter/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/IssueFilter/Models/IssueFilterViewModel.swift
  iOS/IssueTracker/IssueTracker/IssueFilter/Views/IssueFilterTableViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/Views/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueTracker/Base.lproj/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/SignIn/Models/User.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInEndPoint.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInInteractor.swift
Labels: 🌻WEEK 2, 📱APP

#139 Web : feature layout
  FE/.babelrc
  FE/package-lock.json
  FE/package.json
  FE/src/app.js
  FE/src/component/header/header.jsx
  FE/src/component/issueListPage/buttons/moveToCreateIssueButton.jsx
  FE/src/component/issueListPage/buttons/moveToLabelButton.jsx
  FE/src/component/issueListPage/buttons/moveToMilestoneButton.jsx
  FE/src/component/loginPage/buttons/loginGithubButton.jsx
  FE/src/component/loginPage/buttons/loginSubmitButton.jsx
  FE/src/component/loginPage/form/loginform.jsx
  FE/src/index.js
  FE/src/pages/issueCreatePage.jsx
  FE/src/pages/issueDetailPage.jsx
  FE/src/pages/issueListPage.jsx
  FE/src/pages/labelListPage.jsx
  FE/src/pages/loginPage.jsx
  FE/src/pages/milestoneCreatePage.jsx
  FE/src/pages/milestoneListPage.jsx
  FE/src/pages/registerPage.jsx
  FE/webpack.config.js
Labels: 🌻WEEK 2, 📻FE

#140 WEB : 백엔드 리팩토링
  BE/src/controllers/assignee.ts
  BE/src/controllers/comment.ts
  BE/src/controllers/event.ts
  BE/src/controllers/issue.ts
  BE/src/controllers/label.ts
  BE/src/controllers/milestone.ts
  BE/src/controllers/tag.ts
  BE/src/controllers/user.ts
  BE/src/interfaces/milestone.ts
  BE/src/magicnumber.ts
  BE/src/models/assignee.ts
  BE/src/models/comment.ts
  BE/src/models/event.ts
  BE/src/models/issue.ts
  BE/src/models/label.ts
  BE/src/models/milestone.ts
  BE/src/models/model.ts
  BE/src/models/tag.ts
  BE/src/models/user.ts
  BE/src/routes/milestone.ts
  BE/tsconfig.json
Labels: 🌻WEEK 2, 📕DATABASE, 📻FE, 🖥BE, 🛠REFACTOR

#141 WEB : FE - header 작업
  FE/public/index.html
  FE/src/component/header/header.jsx
  FE/src/index.js
Labels: 🌻WEEK 2, 📻FE

#142 WEB : refactor, bug fix
  BE/src/controllers/auth.ts
  BE/src/controllers/user.ts
  BE/src/models/assignee.ts
  BE/src/models/comment.ts
  BE/src/models/event.ts
  BE/src/models/issue.ts
  BE/src/models/label.ts
  BE/src/models/milestone.ts
  BE/src/models/model.ts
  BE/src/models/tag.ts
  BE/src/models/user.ts
Labels: 🌻WEEK 2, 🖥BE, 🛠REFACTOR, 🦗BUG

#146 Web : useRequest 와 label,mileston 완료 버전
  FE/package.json
  FE/src/app.js
  FE/src/component/issueListPage/buttons/moveToLabelButton.jsx
  FE/src/component/issueListPage/buttons/moveToMilestoneButton.jsx
  FE/src/component/issueListPage/buttons/test.css
  FE/src/pages/issueListPage.jsx
  FE/src/util/useRequest.jsx
Labels: 🌻WEEK 2, 🌼WEEK 3, 📻FE

#147 WEB : BE 리팩토링
  BE/package-lock.json
  BE/package.json
  BE/src/app.ts
  BE/src/controllers/assignee.ts
  BE/src/controllers/auth.ts
  BE/src/controllers/comment.ts
  BE/src/controllers/event.ts
  BE/src/controllers/issue.ts
  BE/src/controllers/label.ts
  BE/src/controllers/milestone.ts
  BE/src/controllers/tag.ts
  BE/src/interfaces/milestone.ts
  BE/src/interfaces/response.ts
  BE/src/models/assignee.ts
  BE/src/models/comment.ts
  BE/src/models/event.ts
  BE/src/models/issue.ts
  BE/src/models/label.ts
  BE/src/models/milestone.ts
  BE/src/models/tag.ts
  BE/src/models/user.ts
  BE/src/routes/issue.ts
  BE/src/utils/filter.ts
  BE/src/utils/magicnumber.ts
  BE/src/utils/response.ts
  BE/tsconfig.json
Labels: 🌻WEEK 2, 🖥BE, 🛠REFACTOR

#148 APP: Network & Logic Refactoring
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/CreateIssue/CreateIssueEndPoint.swift
  iOS/IssueTracker/IssueTracker/CreateIssue/CreateIssueInteractor.swift
  iOS/IssueTracker/IssueTracker/CreateIssue/CreateIssueViewController.swift
  iOS/IssueTracker/IssueTracker/Entity/Assignee.swift
  iOS/IssueTracker/IssueTracker/Entity/Comment.swift
  iOS/IssueTracker/IssueTracker/Entity/Issue.swift
  iOS/IssueTracker/IssueTracker/Entity/Label.swift
  iOS/IssueTracker/IssueTracker/Entity/Milestone.swift
  iOS/IssueTracker/IssueTracker/Entity/User.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListEndPoint.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListInteractor.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListPresenter.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/Models/IssueListModelController.swift
  iOS/IssueTracker/IssueTracker/IssueList/Models/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/IssueTracker/Base.lproj/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/KeyChain.swift
  iOS/IssueTracker/IssueTracker/Network/APIConfiguration.swift
  iOS/IssueTracker/IssueTracker/Network/Models/CommentElement.swift
  iOS/IssueTracker/IssueTracker/Network/Models/IssueListElement.swift
  iOS/IssueTracker/IssueTracker/Network/Models/LabelElement.swift
  iOS/IssueTracker/IssueTracker/Network/Models/MilestoneElement.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkError.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/SignIn/Models/User.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInEndPoint.swift
Labels: 🌻WEEK 2, 📱APP

#150 refactor : label refactor
  BE/src/models/label.ts
Labels: 🌻WEEK 2, 🖥BE, 🛠REFACTOR

#152 WEB : LabelPage 작업내용 합치기
  FE/package-lock.json
  FE/package.json
  FE/src/component/issueListPage/buttons/test.css
  FE/src/component/labelListPage/buttons/moveToCreateLabelButton.jsx
  FE/src/component/labelListPage/buttons/moveToLabelButton.jsx
  FE/src/component/labelListPage/buttons/moveToMilestoneButton.jsx
  FE/src/component/labelListPage/filter/labelFilter.jsx
  FE/src/component/labelListPage/labelFilter.jsx
  FE/src/component/labelListPage/labelList.jsx
  FE/src/component/labelListPage/list/labelList.jsx
  FE/src/component/labelListPage/moneToLabelButton.jsx
  FE/src/component/labelListPage/moveToCreateLabelButton.jsx
  FE/src/component/labelListPage/moveToMilestoneButton.jsx
  FE/src/pages/labelListPage.jsx
Labels: 🌻WEEK 2, 📻FE

#154 APP: HeaderView추가, 버그수정, Detail부분 네트워크
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Common/Extension/String+toDate.swift
  iOS/IssueTracker/IssueTracker/Common/Views/CustomButtonView.swift
  iOS/IssueTracker/IssueTracker/Entity/Comment.swift
  iOS/IssueTracker/IssueTracker/Entity/IssueComment.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/IssueDetailBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/IssueDetailInteractor.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/IssueDetailPresenter.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/Models/IssueDetailEndPoint.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/Models/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/Views/IssueDetailCollectionReusableView.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/Views/IssueDetailCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListInteractor.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/Models/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/IssueList/Views/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/IssueTracker/Base.lproj/IssueList.storyboard
  iOS/IssueTracker/IssueTrackerTests/IssueListTests/IssueListMakeTests.swift
  iOS/IssueTracker/IssueTrackerTests/IssueListTests/IssuesMock.swift
  iOS/IssueTracker/Podfile.lock
Labels: 🌼WEEK 3, 📱APP

#159 APP: Milestone 기능 및 로직 구현
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Common/Extension/DateFormatter+format.swift
  iOS/IssueTracker/IssueTracker/Common/Extension/String+asURL.swift
  iOS/IssueTracker/IssueTracker/Common/Extension/UIColor+random.swift
  iOS/IssueTracker/IssueTracker/CreateIssue/CreateIssueInteractor.swift
  iOS/IssueTracker/IssueTracker/CreateIssue/CreateIssueViewController.swift
  iOS/IssueTracker/IssueTracker/Entity/Comment.swift
  iOS/IssueTracker/IssueTracker/Entity/Issue.swift
  iOS/IssueTracker/IssueTracker/Entity/Milestone.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/IssueDetailBottomSheetViewController.swift
  iOS/IssueTracker/IssueTracker/IssueDetail/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/IssueList/IssueListInteractor.swift
  iOS/IssueTracker/IssueTracker/IssueList/Models/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/IssueList/Views/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Label/Label.storyboard
  iOS/IssueTracker/IssueTracker/Milestone/Base.lproj/MileStone.storyboard
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneInterator.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestonePresenter.swift
  iOS/IssueTracker/IssueTracker/Milestone/MilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Milestone/Models/MilestoneCalculator.swift
  iOS/IssueTracker/IssueTracker/Milestone/Models/MilestoneEndPoint.swift
  iOS/IssueTracker/IssueTracker/Milestone/Models/MilestoneViewModel.swift
  iOS/IssueTracker/IssueTracker/Milestone/Views/MilestoneCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/Network/HTTPHeader.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkError.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkService.swift
  iOS/IssueTracker/IssueTracker/Setting/SettingViewController.swift
  iOS/IssueTracker/IssueTracker/SignIn/KeychainItem.swift
  iOS/IssueTracker/IssueTracker/SignIn/Models/SignInEndPoint.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInViewController.swift
  iOS/IssueTracker/IssueTracker/SignIn/Views/SignInWithAppleButton.swift
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: 🌼WEEK 3, 📱APP

#160 WEB : milestone list page, milestone BE refactor & bug fix
  BE/src/controllers/milestone.ts
  BE/src/models/issue.ts
  BE/src/models/milestone.ts
  FE/src/component/milestonePage/buttonWrapper.jsx
  FE/src/component/milestonePage/buttons/closeButton.jsx
  FE/src/component/milestonePage/buttons/closeFilterBtn.jsx
  FE/src/component/milestonePage/buttons/deleteButton.jsx
  FE/src/component/milestonePage/buttons/editButton.jsx
  FE/src/component/milestonePage/buttons/newButton.jsx
  FE/src/component/milestonePage/buttons/openFilterBtn.jsx
  FE/src/component/milestonePage/information.jsx
  FE/src/component/milestonePage/list/milestoneList.jsx
  FE/src/component/milestonePage/list/milestoneListHeader.jsx
  FE/src/component/milestonePage/milestoneState.jsx
  FE/src/component/milestonePage/progressbar.jsx
  FE/src/pages/milestoneEditPage.jsx
  FE/src/pages/milestoneListPage.jsx
Labels: 🌼WEEK 3, 📻FE, 🖥BE

#161 Web feature issuelist
  FE/package-lock.json
  FE/package.json
  FE/src/app.js
  FE/src/component/issueListPage/element/checkFilter.jsx
  FE/src/component/issueListPage/element/header.jsx
  FE/src/component/issueListPage/element/issue.jsx
  FE/src/component/issueListPage/element/issueFilter.jsx
  FE/src/component/issueListPage/element/issueHeader.jsx
  FE/src/component/issueListPage/element/issuelist.jsx
  FE/src/component/issueListPage/element/labelDropdown.js
  FE/src/component/issueListPage/element/labelDropdown.jsx
  FE/src/component/issueListPage/element/milestoneDropdown.js
  FE/src/component/issueListPage/element/milestoneDropdown.jsx
  FE/src/component/issueListPage/element/userDropdown.jsx
  FE/src/pages/issueListPage.jsx
Labels: 🌼WEEK 3, 📻FE

#162 Web : feature labellist 2
  FE/package.json
  FE/src/component/labelListPage/buttons/moveToCreateLabelButton.jsx
  FE/src/component/labelListPage/dropdown/createLabelDropdown.jsx
  FE/src/component/labelListPage/element/label.jsx
  FE/src/component/labelListPage/element/labelList.jsx
  FE/src/pages/labelListPage.jsx
Labels: 🌼WEEK 3, 📻FE

#163 feat : issue get join 수정
  BE/src/models/issue.ts
Labels: 🌼WEEK 3, 🖥BE
