Repository boostcamp-2020/IssueTracker-3, pull requests merged in 2020-10, with the labels that each got.

#29 APP: LoginPage View 및 구조 생성
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/SignIn/SignInInteractor.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInViewController.swift
Labels: 🌷WEEK 1, 📱APP

#42 Web : DB 모듈, 연결, user 모델 생성
  .github/reviewer-lottery.yml
  .github/workflows/auto_unit_test.yml
  BE/.eslintrc.json
  BE/.prettierrc
  BE/src/models/interface/user.ts
  BE/src/models/user.ts
  BE/src/providers/database.ts
Labels: 🌷WEEK 1, 📕DATABASE, 🖥BE

#40 WEB: API route 기본 파일들 생성완료
  BE/.eslintrc.json
  BE/.gitignore
  BE/package-lock.json
  BE/package.json
  BE/src/controller/authController.ts
  BE/src/index.ts
  BE/src/passport/passport.ts
  BE/src/route/auth.ts
  BE/src/route/comment.ts
  BE/src/route/event.ts
  BE/src/route/index.ts
  BE/src/route/issue.ts
  BE/src/route/label.ts
  BE/src/route/milestone.ts
Labels: 🌷WEEK 1, 🖥BE

#41 Web: server 구동 파일 생성
  BE/src/app.ts
  BE/src/controllers/auth.ts
  BE/src/controllers/comment.ts
  BE/src/controllers/event.ts
  BE/src/controllers/index.ts
  BE/src/controllers/issue.ts
  BE/src/controllers/label.ts
  BE/src/controllers/milestone.ts
  BE/src/index.ts
Labels: 🌷WEEK 1, 🖥BE

#56 WEB : db모듈(generic), 최상위 model 모듈(insert, update, delete), 기능 확인용 코드
  BE/src/app.ts
  BE/src/controller/authController.ts
  BE/src/controllers/auth.ts
  BE/src/controllers/user.ts
  BE/src/interfaces/assignee.ts
  BE/src/interfaces/comment.ts
  BE/src/interfaces/event.ts
  BE/src/interfaces/issue.ts
  BE/src/interfaces/label.ts
  BE/src/interfaces/labellist.ts
  BE/src/interfaces/milestone.ts
  BE/src/interfaces/user.ts
  BE/src/models/interface/user.ts
  BE/src/models/model.ts
  BE/src/models/user.ts
  BE/src/providers/database.ts
  BE/src/providers/passport.ts
  BE/src/route/auth.ts
  BE/src/routes/auth.ts
  BE/src/routes/comment.ts
  BE/src/routes/event.ts
  BE/src/routes/index.ts
  BE/src/routes/issue.ts
  BE/src/routes/label.ts
  BE/src/routes/milestone.ts
Labels: 🌷WEEK 1, 📕DATABASE, 🖥BE

#57 Web:Github 로그인 구현
  BE/package-lock.json
  BE/package.json
  BE/src/controllers/auth.ts
  BE/src/providers/passport.ts
  BE/src/routes/auth.ts
Labels: 🌷WEEK 1, 🖥BE

#58 WEB: 1주차 release 버전
  .github/reviewer-lottery.yml
  .github/workflows/auto_unit_test.yml
  BE/.eslintrc.json
  BE/.gitignore
  BE/.prettierrc
  BE/package-lock.json
  BE/package.json
  BE/src/app.ts
  BE/src/controllers/auth.ts
  BE/src/controllers/comment.ts
  BE/src/controllers/event.ts
  BE/src/controllers/index.ts
  BE/src/controllers/issue.ts
  BE/src/controllers/label.ts
  BE/src/controllers/milestone.ts
  BE/src/controllers/user.ts
  BE/src/index.ts
  BE/src/interfaces/assignee.ts
  BE/src/interfaces/comment.ts
  BE/src/interfaces/event.ts
  BE/src/interfaces/issue.ts
  BE/src/interfaces/label.ts
  BE/src/interfaces/labellist.ts
  BE/src/interfaces/milestone.ts
  BE/src/interfaces/user.ts
  BE/src/models/model.ts
  BE/src/models/user.ts
  BE/src/providers/database.ts
  BE/src/providers/passport.ts
  BE/src/routes/auth.ts
  BE/src/routes/comment.ts
  BE/src/routes/event.ts
  BE/src/routes/index.ts
  BE/src/routes/issue.ts
  BE/src/routes/label.ts
  BE/src/routes/milestone.ts
Labels: 🌷WEEK 1, 📕DATABASE, 🖥BE

#59 APP: LoginPage Sign In with github 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/SignIn/OAuthManager.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInViewController.swift
Labels: 🌷WEEK 1, 📱APP

#60 APP: LoginPage Sign In with Apple 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/IssueTracker.entitlements
  iOS/IssueTracker/IssueTracker/SignIn/KeychainItem.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInViewController.swift
  iOS/IssueTracker/IssueTracker/SignIn/Views/SignInWithAppleButton.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
Labels: 🌷WEEK 1, 📱APP

#62 WEB : 1주차 배포버전
  BE/.eslintrc.json
  BE/.gitignore
  BE/.prettierrc
  BE/package-lock.json
  BE/package.json
  BE/src/app.ts
  BE/src/controllers/auth.ts
  BE/src/controllers/comment.ts
  BE/src/controllers/event.ts
  BE/src/controllers/index.ts
  BE/src/controllers/issue.ts
  BE/src/controllers/label.ts
  BE/src/controllers/milestone.ts
  BE/src/controllers/user.ts
  BE/src/index.ts
  BE/src/interfaces/assignee.ts
  BE/src/interfaces/comment.ts
  BE/src/interfaces/event.ts
  BE/src/interfaces/issue.ts
  BE/src/interfaces/label.ts
  BE/src/interfaces/labellist.ts
  BE/src/interfaces/milestone.ts
  BE/src/interfaces/user.ts
  BE/src/models/model.ts
  BE/src/models/user.ts
  BE/src/providers/database.ts
  BE/src/providers/passport.ts
  BE/src/routes/auth.ts
  BE/src/routes/comment.ts
  BE/src/routes/event.ts
  BE/src/routes/index.ts
  BE/src/routes/issue.ts
  BE/src/routes/label.ts
  BE/src/routes/milestone.ts
Labels: 🌷WEEK 1, 🎁PUBLISH

#61 iOS: 1주차 release 버전
  .github/workflows/auto_unit_test.yml
  README.md
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcuserdata/jaehyun.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTracker.xcscheme
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTrackerTests.xcscheme
  iOS/IssueTracker/IssueTracker.xcodeproj/xcuserdata/jaehyun.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/IssueTracker/IssueTracker.xcworkspace/contents.xcworkspacedata
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/IssueTracker/IssueTracker/Assets.xcassets/apple-camera.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/apple-camera.imageset/apple-camera.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/apple-camera.imageset/apple-camera@2x.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/apple-camera.imageset/apple-camera@3x.png
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/IssueTracker.entitlements
  iOS/IssueTracker/IssueTracker/Network/APIConfiguration.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/SignIn/KeychainItem.swift
  iOS/IssueTracker/IssueTracker/SignIn/OAuthManager.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInEndPoint.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInInteractor.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInViewController.swift
  iOS/IssueTracker/IssueTracker/SignIn/Views/SignInWithAppleButton.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpViewController.swift
  iOS/IssueTracker/IssueTracker/UIViewExtension.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkTests/EndPointMock.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkTests/NetworkManagerTest.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkTests/SessionManagerStub.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkTests/UserTestModel.swift
  iOS/IssueTracker/IssueTrackerTests/SignInTests/SignInEndPointTest.swift
  iOS/IssueTracker/IssueTrackerUITests/Info.plist
  iOS/IssueTracker/IssueTrackerUITests/IssueTrackerUITests.swift
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: 🌷WEEK 1, 📱APP

#63 APP: 1주차 배포버전
  .github/workflows/auto_unit_test.yml
  README.md
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcuserdata/jaehyun.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTracker.xcscheme
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTrackerTests.xcscheme
  iOS/IssueTracker/IssueTracker.xcodeproj/xcuserdata/jaehyun.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/IssueTracker/IssueTracker.xcworkspace/contents.xcworkspacedata
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/IssueTracker/IssueTracker/Assets.xcassets/apple-camera.imageset/Contents.json
  iOS/IssueTracker/IssueTracker/Assets.xcassets/apple-camera.imageset/apple-camera.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/apple-camera.imageset/apple-camera@2x.png
  iOS/IssueTracker/IssueTracker/Assets.xcassets/apple-camera.imageset/apple-camera@3x.png
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/IssueTracker.entitlements
  iOS/IssueTracker/IssueTracker/Network/APIConfiguration.swift
  iOS/IssueTracker/IssueTracker/Network/NetworkManager.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/SignIn/KeychainItem.swift
  iOS/IssueTracker/IssueTracker/SignIn/OAuthManager.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInEndPoint.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInInteractor.swift
  iOS/IssueTracker/IssueTracker/SignIn/SignInViewController.swift
  iOS/IssueTracker/IssueTracker/SignIn/Views/SignInWithAppleButton.swift
  iOS/IssueTracker/IssueTracker/SignUp/SignUpViewController.swift
  iOS/IssueTracker/IssueTracker/UIViewExtension.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkTests/EndPointMock.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkTests/NetworkManagerTest.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkTests/SessionManagerStub.swift
  iOS/IssueTracker/IssueTrackerTests/NetworkTests/UserTestModel.swift
  iOS/IssueTracker/IssueTrackerTests/SignInTests/SignInEndPointTest.swift
  iOS/IssueTracker/IssueTrackerUITests/Info.plist
  iOS/IssueTracker/IssueTrackerUITests/IssueTrackerUITests.swift
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: 🌷WEEK 1, 🎁PUBLISH

#65 [Github Action] Auto Labeling Test
  iOS/IssueTracker/IssueTracker/SignIn/Views/SignInWithAppleButton.swift
Labels: 🌷WEEK 1, 📱APP

#67 [Github Action Test2] 단위테스트 성공/실패 시 자동으로 슬랙 메시지 보냄
  .github/workflows/auto_unit_test.yml
  iOS/IssueTracker/IssueTracker/SignIn/Views/SignInWithAppleButton.swift
Labels: 🌷WEEK 1, 📱APP

#68 Revert "[Github Action Test2] 단위테스트 성공/실패 시 자동으로 슬랙 메시지 보냄"
  .github/workflows/auto_unit_test.yml
  iOS/IssueTracker/IssueTracker/SignIn/Views/SignInWithAppleButton.swift
Labels: 🌷WEEK 1, 📱APP
